spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:labservice;MODE=MySQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    username: sa
    password: 
  sql:
    init:
      mode: always
      schema-locations: classpath:sql/schema-h2.sql
      data-locations: classpath:sql/data.sql
  data:
    redis:
      host: localhost
      port: 6379
      password: 
  kafka:
    bootstrap-servers: localhost:9092
    listener:
      missing-topics-fatal: false
    consumer:
      auto-startup: false

logging:
  level:
    com.xiaomu.labservice: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
