spring:
  datasource:
    url: jdbc:mysql://localhost:3306/labservice?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 123456
  
  data:
    redis:
      host: localhost
      port: 6379
      password: 
  
  kafka:
    bootstrap-servers: localhost:9092

logging:
  level:
    com.xiaomu.labservice: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
